@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --height--: 100vh;
  --radius--: 0.7rem;
}
body {
  font-family: Outfit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: hsl(212, 45%, 89%);
}
main {
  margin: 30px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.card {
  /* margin: 160px 720px; */
  max-width: 300px;
  margin: 100px auto;
  padding: 10px;
  background: #fff;
  border-radius: var(--radius--);
  box-shadow: 2px 2px 20px 3px rgba(0, 0, 0, 0.2);
}
.qr-code {
  border-radius: var(--radius--);
  width: 100%;
}
.text-box {
  margin: 8px;
  text-align: center;
}
.text-box h2 {
  font-weight: 700;
}
.text-box p {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}
/* @media (max-width: 720px) {
  .card {
    margin: 10vh 25%;
  }
}
@media (min-width: 721px) {
  .card {
    margin: 10vh 25%;
  }
} */
